<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <style>
    body {
      display: flex;
      flex-direction: column;
      font-family: Noto, Roboto, sans-serif;
      margin: 0;
      padding: 0;
    }
    
    #strokes {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    draw-kanji > object {
      max-width: 500px;
      width: 100vw;
    }
    
    input {
      font-size: 20px;
      margin-bottom: 10px;
      padding: 5px;
    }
  </style>
</head>
<body ng-app="strokes">

<input ng-model="kanji">

<div id="strokes">
  <draw-kanji data="k" ng-repeat="k in kanji track by $index"></draw-kanji>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script>
(function() {

const kanji = function() {
  const getSvgUrl = (str) => {
    const cp = str.charCodeAt(0).toString(16);
    return `https://cdn.rawgit.com/KanjiVG/kanjivg/r20160426/kanji/0${cp}.svg`;
  };
  return {
    scope: {
      'data': '=',
    },
    template: '<object type="image/svg+xml" ng-attr-data="{{ url }}"></object>',
    link: function(s, e) {
      s.url = getSvgUrl(s.data);
      const obj = e.children()[0];
      obj.onload = () => {
        const d = obj.contentDocument;
        const scheme = ['1976D2', 'D32F2F', '388E3C', 'FBC02D', '512DA8', 'F57C00'];
        const pathColors = scheme.map((c, i) => `path:nth-child(${i + 1}) {
          stroke: #${c};
        }`).join('\n');
        const timePerUnit = .01;
        let startTime = 0;
        const paths = d.querySelectorAll('path')
        const pathAnimations = Array.prototype.map.call(paths, (path) => {
          const length = path.getTotalLength();
          const id = path.id.replace(/(:|-)/g, '\\$1');
          const duration = timePerUnit * length;
          path.style.animationDelay = `${startTime}s`;
          path.style.strokeDasharray = `${length}`;
          path.style.animationDuration = `${duration}s`;
          startTime += duration;
          return `svg:hover #${id} {
            stroke-dashoffset: ${length};
          }`;
        }).join('\n');
        const style = d.createElementNS('http://www.w3.org/2000/svg', 'style');
        style.textContent = `
          ${pathColors}
          text {
            font-family: Noto, Roboto, sans-serif;
          }
          path {
            stroke-dashoffset: 0;
          }
          svg:hover path {
            opacity: 0;
            animation: draw 1s ease-in-out forwards;
          }
          text {
            transition: .15s;
          }
          svg:hover text {
            opacity: 0;
          }
          @keyframes draw {
            0% {
              opacity: 1;
            }
            to {
              opacity: 1;
              stroke-dashoffset: 0;
            }
          }
          ${pathAnimations}
        `;
        d.children[0].appendChild(style);
      };
    },
  };
};


angular.module('strokes', [])
  .run(function($rootScope) {
    $rootScope.kanji = '東京';
  })
  .directive('drawKanji', kanji)
;

}());

</script>

</body>
</html>
