<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <style>
    body {
      display: flex;
      flex-direction: column;
      font-family: Noto, Roboto, sans-serif;
      margin: 0;
      padding: 0;
    }
    
    #strokes {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    
    draw-kanji > object {
      max-width: 500px;
      width: 100vw;
    }
    
    input {
      font-size: 20px;
      margin-bottom: 10px;
      padding: 5px;
    }
  </style>
</head>
<body ng-app="strokes">

<input ng-model="kanji">

<div id="strokes">
  <draw-kanji data="k" ng-repeat="k in kanji"></draw-kanji>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script>
(function() {

const kanji = function() {
  const getSvgUrl = (str) => {
    const cp = str.charCodeAt(0).toString(16);
    return `https://cdn.rawgit.com/KanjiVG/kanjivg/r20160426/kanji/0${cp}.svg`;
  };
  return {
    scope: {
      'data': '=',
    },
    template: '<object type="image/svg+xml" ng-attr-data="{{ url }}"></object>',
    link: function(s, e) {
      s.url = getSvgUrl(s.data);
      const obj = e.children()[0];
      obj.onload = () => {
        const d = obj.contentDocument;
        const style = d.createElementNS('http://www.w3.org/2000/svg', 'style');
        const scheme = ['1976D2', 'D32F2F', '388E3C', 'FBC02D', '512DA8', 'F57C00'];
        const pathRules = scheme.map((c, i) => `path:nth-child(${i + 1}) {
          stroke: #${c};
        }`).join('\n');
        style.textContent = `
          ${pathRules}
          text {
            font-family: Noto, Roboto, sans-serif;
          }
        `;
        d.children[0].appendChild(style);
      };
    },
  };
};


angular.module('strokes', [])
  .run(function($rootScope) {
    $rootScope.kanji = '東京';
  })
  .directive('drawKanji', kanji)
;

}());

</script>

</body>
</html>
